
.card-display {
    display: flex;
    height: 25vh;
    width: 25vh;
    border: solid black;
    flex-direction: column;
    border-radius: 30px;
}

.card-container {
    display: flex;
    gap: 10px;
    height: 100vh;
    width: 100vh;
    flex-wrap: wrap;
}

.title {
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    flex-basis: auto;
}
.author {
    text-align: center;
}
.pages {
    padding: 20px;
    text-align: center;
}

.read, .remove 
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}