* {
    font-family: 'Open Sans';
}
body{ /* Remove default margin for these guys */
    margin: 0;
    box-sizing: border-box;
    background-color: #EF7B45;
  }
.card-display {
    display: flex;
    height: 25vh;
    width: 25vh;
    
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 2px #CDEDF6;
    background-color: #5EB1BF;
    margin: 10px;
}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.title {
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    flex-basis: auto;
}
.author {
    text-align: center;
}
.pages {
    padding: 20px;
    text-align: center;
}

.read, .remove 
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    background-color:#5EB1BF
}

.remove {
   margin-top: 10px;
}

.new-book, .header-text {
    color: black;
    background-color: #747C92;
    font-weight: bolder;
    border-radius:10px;
    margin-left: auto;
    width: 25%;
    font-size: xx-large; 
}

.header-text {
    background-color: #042A2B;
    margin-right:auto;
    margin-left: 0;
    text-align: center;
    padding: 10px;
    color: #CDEDF6;
}

button:hover {
    background-color: rgb(168, 204, 236);
}

.header {
    height:5vh;
    display: flex;
    flex-basis: auto;
    border: solid;
    background-color: #042A2B;
}


